@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Bagnard';
    font-style: normal;
    font-weight: 400;
    src: local('Bagnard'), url(/fonts/bagnard) format('woff2');
  }